<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>5.0.0</string>
	<key>maps</key>
	<dict>
		<key>ffffff</key>
		<string>C0</string>
		<key>ff4400</key>
		<string>C1</string>
		<key>e8260c</key>
		<string>C2</string>
		<key>ff7475</key>
		<string>C3</string>
		<key>ffd41d</key>
		<string>C4</string>
		<key>fff7bc</key>
		<string>C5</string>
		<key>000000</key>
		<string>C6</string>
		<key>666666</key>
		<string>C7</string>
		<key>999999</key>
		<string>C8</string>
		<key>eeeeee</key>
		<string>C9</string>
		<key>008aff</key>
		<string>C10</string>
		<key>007be4</key>
		<string>C11</string>
		<key>7cc3ff</key>
		<string>C12</string>
		<key>333333</key>
		<string>C13</string>
		<key>ff0000</key>
		<string>C14</string>
		<key>33cc33</key>
		<string>C15</string>
		<key>cccccc</key>
		<string>C16</string>
		<key>ff7748</key>
		<string>C17</string>
		<key>f5f5f5</key>
		<string>C18</string>
		<key>83a6cf</key>
		<string>C19</string>
	</dict>
</dict>
</plist>
